<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="row">
            <!-- Import Teams -->
            <div class="col-md-4">
                <div class="mb-3 card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                            IMPORTA SQUADRE
                          </div>  
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary" (click)="importTeams()">Importa</button>
                    </div>
                </div>
            </div>

            <!-- Import Players -->
            <div class="col-md-4">
                <div class="mb-3 card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                            IMPORTA GIOCATORI
                          </div>  
                    </div>
                    <div class="card-body">
                        <!-- AGGIUNGERE DROPDOWN -->
                        <button class="btn btn-primary" (click)="importPlayers()">Importa</button>
                    </div>
                </div>
            </div>

            <!-- Import Rounds -->
            <div class="col-md-4">
                <div class="mb-3 card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                            IMPORTA CALENDARIO
                          </div>  
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary" (click)="importRounds()">Importa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  