<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="lnr-picture text-danger">
            </i>
          </div>
          <div *ngIf="game">
            {{game.name}}
          </div>
          <div *ngIf="!game">
            NUOVA PARTITA
          </div>
        </div>
      </div>
    </div>
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">INFORMAZIONI PARTITA</h5>

        <!-- form -->
        <form class="needs-validation" novalidate>
          <fieldset [disabled]="isReadOnly">
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Squadra Casa</label>                
                <select name="select-team-home" id="select-team-home" class="form-control" [(ngModel)]="selectedTeamHome">
                  <option *ngFor="let t of teams" [value]="t.name">{{t.name}}</option>
                </select>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom02">Squadra Trasferta</label>                
                <select name="select-team-awat" id="select-team-away" class="form-control" [(ngModel)]="selectedTeamAway">
                  <option *ngFor="let t of teams" [value]="t.name">{{t.name}}</option>
                </select>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-2 mb-3">
                <label for="validationCustom03">Gol Casa</label>
                <input type="text" class="form-control" id="validationCustom03" placeholder="" [(ngModel)]="golHome" name="golHome" #ctrl="ngModel" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-2 mb-3">
                <label for="validationCustom03">Gol Trasferta</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="" [(ngModel)]="golAway" name="golAway" #ctrl="ngModel" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label for="validationCustom03">Modulo Casa</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="" [(ngModel)]="moduleHome" name="moduleHome" #ctrl="ngModel" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom03">Modulo Trasferta</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="" [(ngModel)]="moduleAway" name="moduleAway" #ctrl="ngModel" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
              <div class="col-md-2 mb-3">
                <label for="validationCustom03">Giornata</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="" [(ngModel)]="round" name="round" #ctrl="ngModel" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
            </div>
          </fieldset>

          <!-- button -->
          <button class="btn btn-primary mr-2" type="submit" (click)="save()" *ngIf="!isReadOnly">Salva</button>
          <button class="btn btn-danger mr-2" type="submit" (click)="undo()" *ngIf="!isReadOnly">Annulla</button>

          <button class="btn btn-primary mr-2" type="submit" (click)="update()" *ngIf="isReadOnly">Modifica</button>
          <button class="btn btn-primary mr-2" type="submit" (click)="updateInfo()" *ngIf="isReadOnly">Modifica Info</button>
        </form>
      </div>
    </div>

    <!-- parte sotto -->
    <div class="main-card mb-3 card" *ngIf="isReadOnly">
      <div class="card-body">
        <h5 class="card-title">DETTAGLI PARTITA</h5>

        <div class="row">
          <button class="btn btn-primary" type="button" (click)="exportPdf()" *ngIf="isReadOnly">Esporta</button>
        </div>

        <div class="row">
          <div class="col-md-6">
            <table class="table table-borderless table-striped table-hover">
              <tr>
                <td>#</td>
                <td>GIOCATORE</td>
                <td>GOL</td>
                <td>SOS OUT</td>
                <td>SOS IN</td>
                <td>AMM</td>
                <td>ESP</td>
              </tr>
              <tr *ngFor="let p of game.playersHome">
                <td>{{p.fullname}}</td>
                <td>{{p.gols}}</td>
                <td>{{p.changeIn}}</td>
                <td>{{p.changeOut}}</td>
                <td>{{p.yellowCards}}</td>
                <td>{{p.redCards}}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-borderless table-striped table-hover">
              <tr>
                <td>#</td>
                <td>GIOCATORE</td>
                <td>GOL</td>
                <td>SOS OUT</td>
                <td>SOS IN</td>
                <td>AMM</td>
                <td>ESP</td>
              </tr>
              <tr *ngFor="let p of game.playersAway">
                <td>{{p.fullname}}</td>
                <td>{{p.gols}}</td>
                <td>{{p.changeIn}}</td>
                <td>{{p.changeOut}}</td>
                <td>{{p.yellowCards}}</td>
                <td>{{p.redCards}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
