<div class="container center-div">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <input type="email" id="loginEmail" class="form-control" placeholder="Email address" #email>
            </div>

            <div class="form-label-group">
              <input type="password" id="loginPassword" class="form-control" placeholder="Password" #password>
            </div>
            <button id="btnLogin" type="button" class="btn btn-lg btn-primary btn-block text-uppercase"
                    (click)="login(email.value, password.value)">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
