<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="lnr-picture text-danger">
            </i>
          </div>
          <div *ngIf="team">
            {{team.name}}
          </div>
          <div *ngIf="!team">
            NUOVA SQUADRA
          </div>
        </div>
      </div>
    </div>
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">INFORMAZIONI SQUADRA</h5>

        <!-- form -->
        <form class="needs-validation" novalidate>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationCustom01">Nome</label>
              <input type="text" class="form-control" id="validationCustom01" placeholder="" [(ngModel)]="teamName" name="teamName" #ctrl="ngModel" [readonly]="isReadOnly" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom02">Città</label>
              <input type="text" class="form-control" id="validationCustom02" placeholder="" [(ngModel)]="teamCity" name="teamCity" #ctrl="ngModel" [readonly]="isReadOnly" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom03">Mister</label>
              <input type="text" class="form-control" id="validationCustom03" placeholder="" [(ngModel)]="teamMister" name="teamMister" #ctrl="ngModel" [readonly]="isReadOnly" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationCustom03">Categoria</label>
              <input type="text" class="form-control" id="validationCustom04" placeholder="" [(ngModel)]="teamCategory" name="teamCategory" #ctrl="ngModel" [readonly]="isReadOnly" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
          </div>
          <!--<div class="form-row" *ngIf="isError">
            <label>{{errorMessage}}</label>
          </div>-->
          <!-- button -->
          <button class="btn btn-primary mr-2" type="submit" (click)="save(false)" *ngIf="!isReadOnly">Salva</button>
          <button class="btn btn-primary mr-2" type="submit" (click)="save(true)" *ngIf="!isReadOnly && mode == 'create'">Salva + Crea</button>
          <button class="btn btn-danger mr-2" type="submit" (click)="undo()" *ngIf="!isReadOnly">Annulla</button>

          <button class="btn btn-primary mr-5" type="submit" (click)="update()" *ngIf="isReadOnly">Modifica</button>
        </form>
      </div>
    </div>

    <!-- altre informazioni -->
    <div class="main-card mb-3 card" *ngIf="isReadOnly">
      <div class="card-body">
        <!-- header del tab -->
        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav mb-3">
          <li class="nav-item">
            <a role="tab" class="nav-link active show" id="tab-1" data-toggle="tab" href="#tab-content-1">
              <span>Rosa</span>
            </a>
          </li>
          <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#tab-content-2">
              <span>Partite</span>
            </a>
          </li>
          <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-3">
              <span>Statistiche</span>
            </a>
          </li>
          <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-4" data-toggle="tab" href="#tab-content-4">
              <span>Trasferimenti</span>
            </a>
          </li>
        </ul>

        <!-- contenuto del tab -->
        <div class="tab-content">

          <!-- tab 1 -->
          <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
            <div class="row">
              <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Cognome Nome</th>
                      <th>Anno</th>
                      <th>Ruolo</th>
                      <th>Piede</th>
                      <th>Provenienza</th>
                      <th>Partite</th>
                      <th>Gol Fatti</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let player of players">
                      <td>
                        <div class="widget-content p-0">
                          <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-3">
                              <div class="widget-content-left">
                                <img width="50" class="rounded-circle" src="assets/avatars/4.jpg" alt="">
                              </div>
                            </div>
                            <div class="widget-heading font-weight-bold">{{player.lastname.toUpperCase()}} {{player.firstname}}</div>
                          </div>
                        </div>
                      </td>
                      <td>{{player.age}}</td>
                      <td>{{player.roleString}}</td>
                      <td>{{player.feetString}}</td>
                      <td>{{player.lastTeamString}}</td>
                      <td>{{player.countPresences}}</td>
                      <td>{{player.countGols}}</td>
                      <td>
                        <button type="button" id="btn-detail-team" class="btn btn-primary btn-sm" data-toggle="Dettaglio" (click)="detailPlayer(player.id)">
                          <i class="fas fa-search"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row" *ngIf="players.length == 0">
              {{messageNoPlayer}}
            </div>
          </div>

          <!-- tab 2 -->
          <div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
            <div class="row" *ngIf="games.length > 0">
              <table class="mb-0 table table-sm">
                <tbody>
                  <tr *ngFor="let g of games">
                    <td class="text-center">{{g.round}}° Giornata</td>
                    <td class="text-right">{{g.teamHome}}</td>
                    <td class="text-center">{{g.golTeamHome}} - {{g.golTeamAway}}</td>
                    <td class="text-left">{{g.teamAway}}</td>
                    <td>
                      <button type="button" id="btn-detail-team" class="btn btn-primary btn-sm" data-toggle="Dettaglio" (click)="detailGame(g.id)">
                        <i class="fas fa-search"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="games.length == 0">
              {{messageNoGame}}
            </div>
          </div>

          <!-- tab 3 -->
          <div class="tab-pane tabs-animation fade" id="tab-content-3" role="tabpanel">
            <div class="row">
              <div class="col-md-4">
                <h5 class="text-center">Partite</h5>
                <canvas id="chart-games" width="200" height="100"></canvas>
              </div>
              <div class="col-md-4">
                <h5 class="text-center">Partite in casa</h5>
                <canvas id="chart-games-home" width="200" height="100"></canvas>
              </div>
              <div class="col-md-4">
                <h5 class="text-center">Partite in trasferta</h5>
                <canvas id="chart-games-away" width="200" height="100"></canvas>
              </div>
            </div>
            <hr />
            <div class="row mt-2">
              <div class="col-md-4">
                <h5 class="text-center">Goal</h5>
                <canvas id="chart-gols" width="200" height="100"></canvas>
              </div>
              <div class="col-md-4">
                <h5 class="text-center">Goal Casa</h5>
                <canvas id="chart-gols-home" width="200" height="100"></canvas>
              </div>
              <div class="col-md-4">
                <h5 class="text-center">Goal Trasferta</h5>
                <canvas id="chart-gols-away" width="200" height="100"></canvas>
              </div>
            </div>
          </div>

          <!-- tab 4 -->
          <div class="tab-pane tabs-animation fade" id="tab-content-4" role="tabpanel">
            <div class="row" *ngIf="transfers.length > 0">
              <div class="col-md-12">
                <div class="mb-3 card">
                  <div class="card-header-tab card-header">
                    <!--<div class="card-header-title">
                      <i class="header-icon lnr-bicycle icon-gradient bg-love-kiss"> </i>
                      Header Alternate Tabs
                    </div>-->
                    <ul class="nav">
                      <li class="nav-item"><a data-toggle="tab" href="#tab-entrata" class="active nav-link">Entrata</a></li>
                      <li class="nav-item"><a data-toggle="tab" href="#tab-uscita" class="nav-link">Uscita</a></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab-entrata" role="tabpanel">
                        <div class="table-responsive">
                          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                              <tr>
                                <th>Giocatore</th>
                                <th class="text-center">Da</th>
                                <th class="text-center">Data</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let tIn of transfersIn">
                                <td>
                                  <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                      <div class="widget-content-left flex2">
                                        <div class="widget-heading">{{tIn.player}}</div>
                                        <!--<div class="widget-subheading opacity-7">{{tIn.role}}</div>-->
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                <td class="text-center">{{tIn.teamOld}}</td>
                                <!--<td class="text-center">{{tIn.teamNew}}</td>-->
                                <td class="text-center">{{tIn.date}}</td>
                                <td class="text-center">
                                  <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm" (click)="detailPlayer(tIn.idPlayer)">Details</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="tab-pane" id="tab-uscita" role="tabpanel">
                        <div class="table-responsive">
                          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                              <tr>
                                <th>Giocatore</th>
                                <th class="text-center">A</th>
                                <th class="text-center">Data</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let tOut of transfersOut">
                                <td>
                                  <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                      <div class="widget-content-left flex2">
                                        <div class="widget-heading">{{tOut.player}}</div>
                                        <!--<div class="widget-subheading opacity-7">{{tOut.role}}</div>-->
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                <td class="text-center">{{tOut.teamOld}}</td>
                                <!--<td class="text-center">{{tOut.teamNew}}</td>-->
                                <td class="text-center">{{tOut.date}}</td>                                
                                <td class="text-center">
                                  <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm" (click)="detailPlayer(tOut.idPlayer)">Details</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="transfers.length == 0">
              {{messageNoTransfers}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODALE DI ERRORE -->
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display': errorModalIsOpen ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalTitle">Errore</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
          <p class="mb-0">
            {{messageError}}
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
              'use strict';
              window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                  form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
          </script> -->
