<div class="app-main__outer">
  <div class="app-main__inner">

    <!-- CLASSIFICA -->
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="main-card mb-3 card">
          <div class="card-header">
            CLASSIFICA
            <!--<div class="btn-actions-pane-right">
              <div role="group" class="btn-group-sm btn-group">
                <button class="active btn btn-focus">Last Week</button>
                <button class="btn btn-focus">All Month</button>
              </div>
            </div>-->
          </div>
          <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Squadra</th>
                  <th class="text-center">Punti</th>
                  <th class="text-center">Giocate</th>
                  <th class="text-center">Vinte</th>
                  <th class="text-center">Pareggiate</th>
                  <th class="text-center">Perse</th>
                  <th class="text-center">Gol Fatti</th>
                  <th class="text-center">Gol Subiti</th>
                  <th class="text-center">Diff. Reti</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rank of ranking; let i = index">
                  <td class="text-center">{{i + 1 }}</td>
                  <td class="text-center">{{rank.team}}</td>
                  <td class="text-center">{{rank.points}}</td>
                  <td class="text-center">{{rank.games}}</td>
                  <td class="text-center">{{rank.wins}}</td>
                  <td class="text-center">{{rank.draws}}</td>
                  <td class="text-center">{{rank.losts}}</td>
                  <td class="text-center">{{rank.goalMade}}</td>
                  <td class="text-center">{{rank.goalConceded}}</td>
                  <td class="text-center">{{rank.goalMade - rank.goalConceded}}</td>
                </tr>                                             
              </tbody>
            </table>
          </div>
          <!--<div class="d-block text-center card-footer">
            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
            <button class="btn-wide btn btn-success">Save</button>
          </div>-->
        </div>
      </div>
    </div>

    <!-- GIORNATE -->
    <div class="row">

      <!-- ULTIMA GIORNATA -->
      <div class="col-md-12 col-lg-6">
        <div class="mb-3 card" *ngIf="lastRound">
          <div class="card-header-tab card-header-tab-animation card-header">
            <div class="card-header-title">
              <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
              ULTIMA GIORNATA - {{lastRound.number}}° giornata
            </div>            
          </div>
          <div class="card-body">
            <table class="mb-0 table">
              <tbody>
                <tr *ngFor="let game of lastRound.games">
                  <td class="text-right">{{game.teamHome}}</td>
                  <td class="text-center">{{game.golHome}} - {{game.golAway}}</td>
                  <td class="text-left">{{game.teamAway}}</td>
                  <td>
                    <button type="button" id="btn-detail-team" class="btn btn-primary btn-sm" data-toggle="Dettaglio" (click)="detailGame(game.idGame)">
                      <i class="fas fa-search"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- PROSSIMA GIORNATA -->
      <div class="col-md-12 col-lg-6">
        <div class="mb-3 card" *ngIf="nextRound">
          <div class="card-header-tab card-header">
            <div class="card-header-title">
              <i class="header-icon lnr-rocket icon-gradient bg-tempting-azure"> </i>
              PROSSIMA GIORNATA - {{nextRound.number}}° giornata
            </div>            
          </div>
          <div class="card-body">
            <table class="mb-0 table">
              <tbody>
                <tr *ngFor="let game of nextRound.games">
                  <td class="text-right">{{game.teamHome}}</td>
                  <td class="text-center">{{game.golHome}} - {{game.golAway}}</td>
                  <td class="text-left">{{game.teamAway}}</td>
                  <td>
                    <button type="button" id="btn-detail-team" class="btn btn-primary btn-sm" data-toggle="Dettaglio" (click)="detailGame(game.idGame)">
                      <i class="fas fa-search"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
