<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="lnr-picture text-danger">
            </i>
          </div>
          <div *ngIf="player">
            {{playerFullName}}
          </div>
          <div *ngIf="!player">
            NUOVO GIOCATORE
          </div>
        </div>
      </div>
    </div>
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">INFORMAZIONI GIOCATORE</h5>

        <!-- form -->
        <form class="needs-validation" novalidate>
          <fieldset [disabled]="isReadOnly">
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Cognome</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="" [(ngModel)]="lastname" name="lastname" #ctrl="ngModel" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom02">Nome</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="" [(ngModel)]="firstname" name="firstname" #ctrl="ngModel" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom03">Anno</label>
                <input type="text" class="form-control" id="validationCustom03" placeholder="" [(ngModel)]="age" name="age" #ctrl="ngModel" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom03">Squadra Attuale</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="" [(ngModel)]="team" name="team" #ctrl="ngModel" [disabled]="true" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom03">Provenienza</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="" [(ngModel)]="lastteam" name="lastteam" #ctrl="ngModel" [disabled]="true" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom03">Ruolo</label>
                <select name="select-role" id="select-role" class="form-control" [(ngModel)]="selectedRole">
                  <option *ngFor="let r of roles" [value]="r.description">{{r.description}}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-2 mb-3">
                <label for="validationCustom03">Piede</label>
                <select name="select-feet" id="select-feet" class="form-control" [(ngModel)]="selectedFeet">
                  <option *ngFor="let f of feets" [value]="f.description">{{f.description}}</option>
                </select>
              </div>
              <div class="col-md-2 mb-3">
                <label for="validationCustom03">Rigori</label>
                <select name="select-penalty" id="select-penalty" class="form-control" [(ngModel)]="selectedPenalty">
                  <option *ngFor="let p of penalties" [value]="p.description">{{p.description}}</option>
                </select>
              </div>              
            </div>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationCustom">Dettagli</label>
                <textarea name="text" id="details" class="form-control" placeholder="" [(ngModel)]="details"></textarea>
              </div>
            </div>
          </fieldset>

          <!-- button -->
          <button class="btn btn-primary mr-2" type="submit" (click)="save()" *ngIf="!isReadOnly">Salva</button>
          <button class="btn btn-danger mr-2" type="submit" (click)="undo()" *ngIf="!isReadOnly">Annulla</button>

          <button class="btn btn-primary mr-5" type="submit" (click)="update()" *ngIf="isReadOnly">Modifica</button>
        </form>
      </div>
    </div>

    <!-- altre informazioni -->
    <div class="main-card mb-3 card" *ngIf="isReadOnly">
      <div class="card-body">
        <!-- header del tab -->
        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav mb-3">
          <li class="nav-item">
            <a role="tab" class="nav-link active show" id="tab-1" data-toggle="tab" href="#tab-content-1">
              <span>Statistiche</span>
            </a>
          </li>
          <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#tab-content-2">
              <span>Partite</span>
            </a>
          </li>
          <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-3">
              <span>Disciplinare</span>
            </a>
          </li>
        </ul>

        <!-- contenuto del tab -->
        <div class="tab-content">

          <!-- tab 1 -->
          <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel" *ngIf="statistics">
            <div class="row">
              <div class="col-md-4">
                Minuti giocati: {{statistics.minutes}}
              </div>
              <div class="col-md-4">
                Partite giocate: {{statistics.gamesAll}}
              </div>
              <div class="col-md-4">
                Gol fatti: {{statistics.gols}}
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-4">
                Partite titolare: {{statistics.gamesHolder}}
              </div>
              <div class="col-md-4">
                Partite subentrato: {{statistics.gamesIn}}
              </div>
              <div class="col-md-4">
                Partite sostituito: {{statistics.gamesOut}}
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-4">
                Media minuti giocati: {{statistics.minutes / statistics.gamesAll}}
              </div>
              <div class="col-md-4">
                Ultima partita giocata: {{statistics.lastGame}}
              </div>
              <div class="col-md-4">
                Ultima partita titolare: {{statistics.lastGameHolder}}
              </div>
            </div>
          </div>

          <!-- tab 2 -->
          <div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
            <div class="row" *ngIf="games.length > 0">
              <table class="mb-0 table table-sm">
                <tbody>
                  <tr *ngFor="let g of games">
                    <td class="text-center">{{g.round}}° Giornata</td>
                    <td class="text-right">{{g.teamHome}}</td>
                    <td class="text-center">{{g.golTeamHome}} - {{g.golTeamAway}}</td>
                    <td class="text-left">{{g.teamAway}}</td>
                    <td class="text-left" *ngIf="g.timeIn == 0">Titolare</td>
                    <td class="text-left" *ngIf="g.timeIn != 0">Subentrato al minuto {{g.timeIn}}</td>
                    <td class="text-left" *ngIf="g.timeOut == 90"></td>
                    <td class="text-left" *ngIf="g.timeOut != 90">Uscito al minuto {{g.timeOut}}</td>
                    <td class="text-left">{{g.timeOut - g.timeIn}} minuti giocati</td>
                    <td>
                      <button type="button" id="btn-detail-team" class="btn btn-primary btn-sm" data-toggle="Dettaglio" (click)="detailGame(g.idGame)">
                        <i class="fas fa-search"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="games.length == 0">
              {{messageNoGame}}
            </div>
          </div>

          <!-- tab 3 -->
          <div class="tab-pane tabs-animation fade" id="tab-content-3" role="tabpanel">
            <div class="row" style="background-color:green">
              <p>TAB 3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
